<div style="text-align: right" class="submit-btn-panel" fxLayout="row" fxLayoutAlign="space-evenly center center">
  <button type="submit" mat-flat-button color="primary" fxLayoutAlign="center" [routerLink]="['/registration'] ">Logout</button>
</div>

<div>
  <h5 style="margin-left: 20%;">Employee Data</h5>
  <table class="empTable">
    <thead>
   <tr>
     <th>sno</th>
     <th>Employee Name</th>
     <th>Email Id</th>
     <th>Password</th>
   </tr>
    </thead>
    <tbody *ngFor="let emp of empData;let i=index">
    <tr>
      <td>{{i+1}}</td>
      <td>{{emp.empFullName}}</td>
      <td>{{emp.emailId}}</td>
      <td>{{emp.password}}</td>
    </tr>
    </tbody>
  </table>
</div>




